<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Advertise' %>
    <%- include('../common/head') %>
</head>
<body>
    <%- include('../common/header') %>

    <div class="wrapper">
        <h1>광고</h1>
        <p>
            첫 페이지에 한 줄 광고를 게재하실 수 있습니다.<br>
            광고비는 주당 부가세 포함 154,000 원입니다.<br>
            내용, 링크, 기간, 사업자등록증을 보내주십시오.<br>
        </p>
        <p>
            광고 신청<br>
            <% let email = 'support+' + locals.config.appNamel + '@raysoda.com' %>
            <% let emailLink = 'mailto:' + email %>
            <a href="<%- emailLink %>"><%- email %></a>
        </p>
    </div>

    <%- include('../common/footer') %>
</body>
</html>

