<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= it.config.appDesc %>">
<meta property="og:site_name" content="<%= it.config.appName %>">
<% if (it.ogImage) { %>
    <meta property="og:image" content="<%- it.ogImage %>">
<% } %>
<title><%= (it.title ? it.title + ' - ' : '') + it.config.appName %></title>
<link rel="icon" type="image/png" href="/static/favicon/<%- it.config.appNamel %>.png?v=1.0.1">
<link rel="stylesheet" href="/static/lib/bootstrap-3.4.1-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/build/css/base.css?v=1.0.3">
<link rel="stylesheet" href="/build/css/<%- it.config.appNamel %>.css?v=1.0.3">
<script src="/static/lib/jquery-3.5.1.min.js"></script>
<script src="/static/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<%# "...</script><script>..." 어택을 막기위해 인코딩해서 출력한다. %>
<script type="application/json" id="configJson">
  <%= JSON.stringify({ appNamel: it.config.appNamel }) %>
</script>
<script type="application/json" id="userJson">
  <%= it.user ? JSON.stringify({ id: it.user.id, name: it.user.name }) : 'undefined' %>
</script>
<script>
  function htmlDecode(input) {
    const doc = new DOMParser().parseFromString(input, "text/html")
    return doc.documentElement.textContent
  }
  function getObjectById(id) {
    return JSON.parse(htmlDecode(document.getElementById(id).innerText))
  }
  config = getObjectById('configJson')
  user = getObjectById('userJson')
</script>
<script src="/static/js/cbase.js"></script>
<script src="/static/js/cuser.js"></script>
<script src="/static/js/cimage.js"></script>
<script src="/static/js/csupp.js"></script>
