extends ../layout/layout

block head-opt
  meta(property='og:image', content=imageList.length ? imageList[0].thumb : '')
  title #{owner.name} - #{config.appName}

block content
  script.
    $(function () {
      cuser.initProfile();
      cimage.initList();
    });

  .section.page-title
    h1
      //- user.home 에 '/' 문자 있는 경우도 있으므로 미리 URI 인코딩한다.
      a(href='/' + encodeURIComponent(owner.home)) #{owner.name}

  if !prev
    .section
      #profile-text.sub-section
        | #{owner.profile}

      if updatable
        .sub-section.top-links
          a(href='/user/' + owner.id + '/update') 개인정보수정

      if owner.status === 'd'
        .sub-section
          | Deactivated Account

  if imageList.length

    .section.image-thumb-list
      for image in imageList
        .image-thumb.thumb-margin
          .image
            a(href='/image/' + image.id)
              img(src=image.thumb, data-vers= image.vers ? image.vers.join(',') : null)
          if image.comment
            .comment= image.comment
    .section
      .prev-next.thumb-margin
        if prev
          a(href=prev)
            i.fa.fa-angle-left(aria-hidden='true')
        if next
          a(href=next)
            i.fa.fa-angle-right(aria-hidden='true')
