<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Image ' + app.image.id %>
    <% app.ogImage = app.image.thumbUrl %>
    <% app.ogTitle = app.image.owner.name %>
    <% app.ogDesc = app.image.comment %>
    <%- include('../_layout/head') %>
</head>
<body>
    <% app.hideHeader = true %>
    <%- include('../_layout/header') %>

    <div class="section image-full ">
        <div class="image">
            <img src="<%- app.image.thumbUrl %>" data-vers="<%- app.image.vers ? app.image.vers.join(',') : null %>">
        </div>
    </div>

    <div class="section image-info ">
        <div class="sub-section" style="display: none">
            <a href="" id="fs"><span class="glyphicon glyphicon-fullscreen"></span></a>
        </div>

        <div class="sub-section"></div>
        <div class="comment"><%= app.image.comment %></div>
        <div class="cdate"><%- app.image.cdateStr.slice(0, 16) %></div>
        <div class="uname">
            <a href='/user/<%- encodeURIComponent(app.image.owner.home) %>'><%= app.image.owner.name %></a>
        </div>

        <% if (app.image.updatable) { %>
            <div class="sub-section">
                <div class="commands">
                    <button id="update-btn" class="btn btn-success">수정</button>
                    <button id="del-btn" class="btn btn-danger">삭제</button>
                    <button id="del-confirm-btn" class="btn btn-danger hide">삭제 재확인</button>
                </div>
            </div>
        <% } %>
    </div>


    <%- include('../_layout/footer') %>

    <script type="application/json" id="imageJson">
      <%= JSON.stringify(app.image) %>
    </script>
    <script>
      $(function () {
        cimage.initView(getObjectById('imageJson'))
      })
    </script>
</body>
</html>

