extends ../layout/layout

block head-title
  title #{tuser.name} - #{appName}

block content
  script.
    $(function () {
      userl.initProfile();
      imagel.initList();
    });

  .section.page-title
    h1
      a(href='/' + tuser.home) #{tuser.name}

  .section
    if !gt
      #profile-text.sub-section.box
        | !{jade.escape(tuser.profile).replace(/\n/g, '<br>')}

      if updatable
        .section.top-links
          a(href='/users/' + tuser._id + '/update') Update Profile

      if tuser.status == 'd'
        .section
          | Deactivated Account

  if images.length
    if gt
      .section.pager-prev
        a(href=gt) Previous

    for image in images
      .section.image-thumb
        .image
          a(href='/images/' + image._id)
            img(src=image.thumb)
        if image.comment
          //-.comment !{jade.escape(image.comment).replace(/\n/g, '<br>')}
          .comment= image.comment

    if lt
      .section.pager-next
        a(href=lt) Next
