extends ../layout/layout

block head-title
  title #{appName}

block site-title

block content

  script.
    $(function() {
      cimage.initList();
    });

  .section.page-title
    h1
      a(href='/') #{appName}

  //-
    if !gt
    if locals.user
      .section.top-links
        a(href='/images/new') Upload
        a(href='/users/' + user._id) Profile
        a(href='/users') Users
        a(href='#' onclick='javascript:cuser.logout(); return false;') Logout
    else
      .section.top-links
        a(href='/users/login') Login
        a(href='/users/register') Register

    .section.news
      for banner in banners
        a(href=banner.url, target="_blank") #{banner.text}
        br

  .section.pager-prev
    if gt
      a(href=gt) Previous

  .image-thumb-list
    for image in images
      .section.image-thumb
        .image
          a(href='/images/' + image._id)
            img(src=image.thumb, data-vers= image.vers ? image.vers.join(','): null)
        - var c = image.comment.split(/\r\n|\n/, 1)[0];
        if c
          .comment= c
        .uname
          //- user.home 에 '/' 문자 있는 경우도 있으므로 미리 URI 인코딩한다.
          a(href='/' + encodeURIComponent(image.user.home)) #{image.user.name}

  .section.pager-next
    if lt
      .sub-section
        a(href=lt) Next

      .sub-section
        if dlt
          a(href=dlt) Go to !{dyear}
        else
          a(href='/?gt=0') Go to the beginning

  //if !gt
  .section
    .sub-section.news
      for banner in banners
        a(href=banner.url, target="_blank") #{banner.text}
        br

    .sub-section.top-links
      if locals.user
          a(href='/images/new') Upload
          a(href='/users/' + user._id) Profile
          a(href='/users') Users
          a(href='#' onclick='javascript:cuser.logout(); return false;') Logout
      else
          a(href='/users/login') Login
          a(href='/users/register') Register

