extends ../layout/layout

block head-title
  meta(property='og:image', content=image.dir + '/' + image._id + '.jpg')
  meta(property='og:title' content=appName + ' ' + image._id)
  meta(property='og:description' content=image.comment)
  title Image !{image._id} - #{appName}

block site-title

block content

  script.
    $(function() {
      imagel.initView(!{JSON.stringify(image)});
    });

  .section.image-full
    img(src=image.thumb)

  .section.image-info
    .sub-section(style='display: none')
      a#fs(href='')
        span.glyphicon.glyphicon-fullscreen

    .sub-section
      .comment #{image.comment}
      .cdate !{image.cdateStr.slice(0,16)}
      .uname
        a(href='/' + encodeURIComponent(image.user.home)) #{image.user.name}

    if updatable
      .sub-section
        .commands
          button#update-btn.btn.btn-success.btn-xs Update
          button#del-btn.btn.btn-danger.btn-xs Delete
          button#del-confirm-btn.btn.btn-danger.btn-xs.hide Yes, Delete
