<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'User List' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1>회원 목록</h1>

        <form class="max-w-sm">
            <label class="flex-label">
                <input type="text" name="q" autofocus>
                <button type="submit" class="btn-blue ml-2">회원 검색</button>
            </label>
        </form>

        <div class="mt-xl fs-lg">
            <% if (locals.userList.length) { %>
                <% for (const user of locals.userList) { %>
                    <a href="/user/<%- locals.encodedUserHome %>"><%= user.name %></a><br>
                <% } %>
            <% } else { %>
                검색 결과가 없습니다.
            <% } %>
        </div>

        <%- include('../_common/prev-next') %>
    </div>

    <%- include('../_common/footer') %>
</body>
</html>
