extends ../_common/layout

block head-opt
  meta(property='og:image', content=(imageList.length ? imageList[0].thumb : ''))
  title #{config.appName}

block header

block content

  script.
    // $(function () {
    //   cimage.initList();
    // });

  .section.page-title
    h1
      a(href='/') #{config.appName}

  if !prev
    .section
      .sub-section.top-links
        a(href='/about') 사이트소개
        if locals.user
          a(href='/upload-image') 사진등록
          a(href='/' + encodeURIComponent(user.home)) 내사진
          a(href='/user-list') 회원목록
          a(href='/image-list-by-year') 연도별
          a(href='/logout') 로그아웃
        else
          a(href='/login') 로그인
          a(href='/register') 회원가입
          a(href='/user-list') 회원별
          a(href='/image-list-by-year') 연도별

      .sub-section.news
        for banner in bannerList
          a(href=banner.url, target="_blank") #{banner.text}
          br

  .section.image-thumb-list
    for image in imageList
      .image-thumb.thumb-margin
        .image
          a(href='/image/' + image.id)
            img(src=image.thumbUrl, data-vers=(image.vers ? image.vers.join(',') : null))
        - var c = image.comment.split(/\r\n|\n/, 1)[0];
        if c
          .comment= c
        .uname
          //- user.home 에 '/' 문자 있는 경우도 있으므로 미리 URI 인코딩한다.
          a(href='/' + encodeURIComponent(image.owner.home)) #{image.owner.name}
    .image-thumb.prev-next

  .section
    .prev-next.thumb-margin
      if prev
        a(href=prev)
          i.fa.fa-angle-left(aria-hidden='true')
      if next
        a(href=next)
          i.fa.fa-angle-right(aria-hidden='true')

  .section.top-links
    a(href='https://raysoda.com') RaySoda
    a(href='https://rapixel.com') Rapixel
    a(href='https://osoky.com') Osoky
