<%@ Page language="c#" AutoEventWireup="false" Inherits="WebSite.Com.Note.TNew" CodeBehind="TNew.aspx.cs" %>
<%@ Register TagPrefix="bah" NameSpace="Bah.Web.Controls" Assembly="Bah"%>
<%@ Register tagprefix="app" tagname="Attach" src="/Com/Note/Com/Attach.ascx"%>
<%@ Register tagprefix="app" tagname="Confirm" src="/Com/Note/Com/Confirm.ascx"%>

<HTML>
<head>
<%=LPContext.ClientInitScript%>
<link rel='stylesheet' href='/App/Style/Photo.css'>
<link rel='stylesheet' href='/App/Style/BBS.css'>
<script src='/App/LP/BBS.js'></script>
</head>

<%=NoteContext.RefPhotoScript%>

<body>
<form runat="server" ID="Form" enctype="multipart/form-data">
<script>lpRenderBegin()</script>
<div class=fm>
<script>lpRenderTitle('<%=NoteContext.PageTitle%>')</script>

<asp:ValidationSummary Runat="server" ID="VdSummary" DisplayMode="List" ShowSummary="true" ShowMessageBox="false" CssClass="vdsummary"/>

<div class=form>
제목
<asp:RequiredFieldValidator Runat="server" ID="TitleTBVd" ControlToValidate="TitleTB" Text="*" ErrorMessage="제목을 입력해 주십시오." Display="Dynamic"/>
<br>
<asp:TextBox Runat="server" ID="TitleTB" CssClass="tb-full" MaxLength="128"></asp:TextBox>
</div>

<div class=form>
내용 
<%--<asp:RequiredFieldValidator Runat="server" ID="TextTBVd" ControlToValidate="TextTB" Text="*" ErrorMessage="내용을 입력해 주십시오." Display="Dynamic"/>--%>
<bah:DummyValidator id="LenLimitVD" Runat="server" Display="Dynamic" ErrorMessage="500자 이상의 감상평만 등록하실 수 있습니다." Text="*"></bah:DummyValidator>
<br>
<asp:TextBox Runat="server" ID="TextTB" TextMode="MultiLine" Rows="30"></asp:TextBox><br>
<div class=desc>HTML 태그는 사용하실 수 없습니다</div>
</div>

<app:Attach runat="server" ID="AttachUC"></app:Attach>

<div class=form>
배경음악 링크<br>
<asp:TextBox Runat="server" ID="MusicTB" CssClass="tb-full" MaxLength="1024"></asp:TextBox>
<div class=desc>예: http://www.musicsite.com/dir/music.asf</div>
</div>

<div class=form runat=server id=HiddenCBPanel>
<asp:CheckBox Runat="server" ID="HiddenCB" Text="주인장과 글쓴이만 볼 수 있도록 비밀글로 등록"></asp:CheckBox>
</div>

<app:Confirm runat="server" ID="ConfirmUC"></app:Confirm>

<div class=form>
<asp:Button Runat="server" ID="Submit" Text="새글등록" CssClass="btn"></asp:Button>
</div>

</div>
<script>lpRenderEnd()</script>
</form>
</body>
</html>






<%@ Page language="c#" AutoEventWireup="false" Inherits="WebSite.Com.Note.FSel" CodeBehind="FSel.aspx.cs" %>
<%@ Register TagPrefix="bah" NameSpace="Bah.Web.Controls" Assembly="Bah"%>
<%@ Register tagprefix="app" tagname="Attach" src="/Com/Note/Com/Attach.ascx"%>

<HTML>
<head>
<%=LPContext.ClientInitScript%>
<link rel='stylesheet' href='/App/Style/BBS.css'>
<script src='/App/LP/BBS.js'></script>
</head>

<body>
<form runat="server" ID="Form" enctype="multipart/form-data">
<script>lpRenderBegin()</script>
<div class=fm>
<script>lpRenderTitle('폴더 선택')</script>

<div Runat=server ID=MsgNoValidFolder Visible=False class=form EnableViewState="false">
사용 권한이 있는 폴더가 없습니다.
</div>

<div Runat="server" ID="FormPanel" Visible="True" class=form>

<div class=form>
폴더를 선택해 주십시오. (사용 권한이 있는 폴더만 표시됩니다)
</div>

<div class=form>
<asp:RadioButtonList Runat=server ID="FolderListRBL" RepeatDirection=Horizontal RepeatLayout=Flow DataTextField="Desc" DataValueField="ID"></asp:RadioButtonList>
</div>

<div class=form>
<asp:Button Runat="server" ID="Submit" Text="  선택  " CssClass="btn"></asp:Button>
</div>

</div>

</div>
<script>lpRenderEnd()</script>
</form>
</body>
</html>




<div class=form>
등록전 유의사항
<bah:DummyValidator Runat=server ID="ConfirmCBVD" Text="*" ErrorMessage="등록전 유의사항을 확인해 주십시오." Display="Dynamic"></bah:DummyValidator>
<br>
<img src=/d.gif width=1 height=8><br>

<div runat=server id=ForPhoto visible=false>
- 이 폴더에 작성하시는 글은 등록 후 10 분이 지나면 수정하거나 삭제하실 수 없습니다.<br>
- 운영진의 판단에 따라 글이 통지 없이 삭제되거나, 글쓰기 권한이 제한되거나, 서비스 사용이 중지될 수 있습니다.<br>
</div>

<div runat=server id=ForBox visible=false>
- 이 폴더에 작성하시는 글은 수시로 수정하실 수 있습니다.<br>
- 게시된 글은 노트 관리자에 의해 통지 없이 삭제될 수 있습니다.<br>
- 운영진의 판단에 따라 글이 통지 없이 삭제되거나, 글쓰기 권한이 제한되거나, 서비스 사용이 중지될 수 있습니다.<br>
</div>


<%@ Control Language="c#" AutoEventWireup="false" Codebehind="Attach.ascx.cs" Inherits="WebSite.Com.Note.Com.Attach" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<div runat=server id=MultiAttHolder visible=false class=form>
첨부파일<br>
<input runat="server" type=file class="file"><br>
<input runat="server" type=file class="file"><br>
<input runat="server" type=file class="file"><br>
<input runat="server" type=file class="file"><br>
<input runat="server" type=file class="file"><br>
<div class=desc>이미지 가로폭 640 픽셀 권장 / 전송 제한 2MB / 첨부 파일은 화일명 순으로 표시됨 / 수정 화면에서 추가 첨부가능</div>
</div>
<div runat=server id="AttHolder" visible=false class=form>
첨부파일<br>
<input runat="server" type=file class="file"><br>
<div class=desc>이미지 가로폭 640 픽셀 권장 / 전송 제한 2MB</div>
</div>


