<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Update Profile' %>
    <%- include('../common/head') %>
</head>
<body>
    <%- include('../common/header') %>

    <div class="wrapper">
        <h1>기본정보 수정</h1>
        <form id="form" class="max-w-xs">
            <label>
                <span>사용자 이름</span>
                <input type="text" name="name" maxlength=32 autofocus>
            </label>
            <label>
                <span><%= locals.form.mainUrl %>/user/</span>
                <input type="text" name="home" maxlength=32>
            </label>
            <label>
                <span>이메일</span>
                <input type="email" name="email" maxlength=64>
            </label>
            <label>
                <span>프로필</span>
                <textarea name="profile" rows="7"></textarea>
            </label>
            <div class="error-group"></div>
            <div class="btn-group">
                <button class="btn-blue" name="send">수정</button>
            </div>
        </form>
    </div>

    <%- include('../common/footer') %>
    <script type="application/json" id="formJson">
        <%= JSON.stringify(locals.form) %>
    </script>
    <script>
        page.initUserUpdateProfile();
    </script>
</body>
</html>
