<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'User List' %>
    <%- include('../common/head') %>
</head>
<body>
    <%- include('../common/header') %>

    <div class="wrapper">
        <h1>회원 목록</h1>

        <form class="max-w-2xs">
            <label class="flex space-x-1">
                <input type="text" name="q" autofocus>
                <button type="submit" class="btn-blue">회원 검색</button>
            </label>
        </form>

        <div class="mt-2xl">
            <% if (locals.userList.length) { %>
                <% for (const user of locals.userList) { %>
                    <a href="/user/<%- encodeURIComponent(user.home) %>"><%= user.name %></a><br>
                <% } %>
            <% } else { %>
                검색 결과가 없습니다.
            <% } %>
        </div>

        <%- include('../common/prev-next') %>
    </div>

    <%- include('../common/footer') %>
</body>
</html>
