doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content=appDesc)
    meta(property='og:site_name', content=appName)
    block head-opt

    link(rel='icon', type='image/png', href='/static/favicon/' + appNamel + '.png?v=1.0.1')

    link(rel='stylesheet', href='/static/lib/bootstrap-3.4.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/lib/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/static/css/base.css?v=1.0.2')
    link(rel='stylesheet', href='/static/css/' + appNamel + '.css?v=1.0.1')

    script(src='/static/lib/jquery-3.5.1.min.js')
    script(src='/static/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js')

    script.
      window.appNamel = '!{appNamel}';
      window.user = !{locals.user ? JSON.stringify({ id: user.id, name: user.name }) : 'undefined'};

    script(src='/static/js/cbase.js')
    script(src='/static/js/cuser.js')
    script(src='/static/js/cimage.js')
    script(src='/static/js/csupp.js')

    //-script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      var ga_tid =
        appNamel == 'raysoda' ? 'UA-86165221-2' :
        appNamel == 'rapixel' ? 'UA-86165221-3' :
        appNamel == 'osoky' ? 'UA-86165221-4' :
        appNamel == 'drypot' ? 'UA-86165221-5' :
        null;

      if (ga_tid) {
        ga('create', ga_tid, 'auto');
        ga('send', 'pageview');
      }

  body

    block header
      .section.page-header
        .site-name
          a(href='/') #{appName}

    block content

    .section.page-footer
      .about-list
        ul.list-inline
          //-li: a(href='/about') About
          //-li: a(href='/company') Company
          //-li: a(href='/ad') Advertise
          //-li: a(href='/privacy') Privacy
          //-li: a(href='/help') Help
          li: a(href='/about') 사이트소개
          li: a(href='/company') 회사소개
          li: a(href='/ad') 광고
          li: a(href='/privacy') 개인정보처리방침
          li: a(href='/help') 도움말
      if appNamel == 'raysoda'
        .sponsor
          a(href='/api/counters/adng/inc?r=http://www.natgeokorea.com/magazine' target='_blank') National Geographic
      .site-name
        a(href='/') #{appName}

    #error-modal.modal
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title
          .modal-body
          .modal-footer
            button.btn.btn-default(data-dismiss='modal') Close

    #fullscreen
