<%@ Page language="c#" AutoEventWireup="false" Inherits="WebSite.Com.BoxPhoto.PNew" CodeBehind="PNew.aspx.cs" %>
<%@ Register TagPrefix="bah" NameSpace="Bah.Web.Controls" Assembly="Bah"%>

<HTML>
<head>
<%=LPContext.ClientInitScript%>
</head>

<body>
<form runat="server" ID="Form">
<script>lpRenderBegin()</script>
<div class=fm>
<script>lpRenderTitle("사진 등록")</script>

<asp:ValidationSummary Runat="server" ID="VdSummary" DisplayMode="List" ShowSummary="true" ShowMessageBox="false" CssClass="vdsummary"/>


<div class=form>
이미지 파일
<bah:DummyValidator id="ImageAttVd" Runat="server" Display="Dynamic" ErrorMessage="이미지를 첨부해 주십시오." Text="*"></bah:DummyValidator>
<bah:DummyValidator id="ImageSizeVd" Runat="server" Display="Dynamic" ErrorMessage="이미지 크기 제한은 1024KB 입니다." Text="*"></bah:DummyValidator>
<bah:DummyValidator id="UnknownErrVd" Runat="server" Display="Dynamic" ErrorMessage="저장 실패" Text="*"></bah:DummyValidator>
<br>
<input type=file runat="server" size=50 class="file" ID="ImageAtt" NAME="ImageAtt"><br>
<span class=desc>본인이 촬영하고, 저작권을 소유한 사진만 전시하실 수 있습니다 / 이미지 크기 제한 1024KB</span>
</div>

<div class=form>
제목
<asp:TextBox Runat="server" ID="TitleTB" CssClass="tb-full" MaxLength="128"></asp:TextBox>
</div>

<div class=form>
사진 설명<br>
<asp:TextBox Runat="server" ID="CommentTB" TextMode="MultiLine" Rows="10"></asp:TextBox>
<div class=desc>HTML 태그는 사용하실 수 없습니다</div>
</div>

<div class=form>
배경음악 링크<br>
<asp:TextBox Runat="server" ID="MusicTB" CssClass="tb-full" MaxLength="1024"></asp:TextBox>
<div class=desc>예: http://www.musicsite.com/dir/music.asf</div>
</div>

<div class=form>
관련 가상 폴더<br>
<asp:Panel Runat=server ID="CategoryHolder" EnableViewState=true></asp:Panel>
</div>

<div class=form>
테두리 설정<br>
<asp:RadioButtonList Runat=server ID=BorderList RepeatDirection=Horizontal RepeatLayout=Flow>
<asp:ListItem Value="0">없음</asp:ListItem>
<asp:ListItem Value="1" Selected=True>검정</asp:ListItem>
</asp:RadioButtonList>
</div>

<div class=form>
<br>
<asp:Button Runat="server" ID="Submit" Text="사진등록" CssClass="btn"></asp:Button>
</div>

</div>
<script>lpRenderEnd()</script>
</form>
</body>
</html>
