<!DOCTYPE html>
<html lang="ko">
<head>
    <% it.title = 'Image ' + it.image.id %>
    <% it.ogImage = it.image.thumbUrl %>
    <% it.ogTitle = it.image.owner.name %>
    <% it.ogDesc = it.image.comment %>
    <%- include('../_layout/head') %>
</head>
<body>
    <% it.hideHeader = true %>
    <%- include('../_layout/header') %>

    <div class="section image-full">
        <div class="image">
            <img src="<%- it.image.thumbUrl %>" data-vers="<%- it.image.vers ? it.image.vers.join(',') : null %>">
        </div>
    </div>

    <div class="section image-info">
        <div class="sub-section" style="display: none">
            <a href="" id="fs"><span class="glyphicon glyphicon-fullscreen"></span></a>
        </div>

        <div class="sub-section"></div>
        <div class="comment"><%= it.image.comment %></div>
        <div class="cdate"><%- it.image.cdateStr.slice(0, 16) %></div>
        <div class="uname">
            <a href='/user/<%- encodeURIComponent(it.image.owner.home) %>'><%= it.image.owner.name %></a>
        </div>

        <% if (it.image.updatable) { %>
            <div class="sub-section">
                <div class="commands">
                    <button id="update-btn" class="btn btn-success">수정</button>
                    <button id="del-btn" class="btn btn-danger">삭제</button>
                    <button id="del-confirm-btn" class="btn btn-danger hide">삭제 재확인</button>
                </div>
            </div>
        <% } %>
    </div>


    <%- include('../_layout/footer') %>

    <script type="application/json" id="imageJson">
      <%= JSON.stringify(it.image) %>
    </script>
    <script>
      $(function () {
        cimage.initView(getObjectById('imageJson'))
      })
    </script>
</body>
</html>

