<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = app.config.appName %>
    <% app.ogImage = app.imageList.length ? app.imageList[0].thumbUrl : '' %>
    <%- include('../_layout/head') %>
</head>
<body>
    <% app.hideHeader = true %>
    <%- include('../_layout/header') %>

    <div class="section page-title">
        <h1><a href="/"><%- app.config.appName %></a></h1>
    </div>

    <% if (!app.prev) { %>
        <div class="section">
            <div class="sub-section top-links">
                <% if (app.user.id != -1) { %>
                    <a href='/upload-image'>사진등록</a>
                    <a href='/user/<%- encodeURIComponent(user.home) %>'>내사진</a>
                    <a href='/user-list'>회원목록</a>
                    <a href='/image-list-by-year'>연도별</a>
                    <a href='/logout'>로그아웃</a>
                <% } else { %>
                    <a href='/login'>로그인</a>
                    <a href='/register'>회원가입</a>
                    <a href='/user-list'>회원목록</a>
                    <a href='/image-list-by-year'>연도별</a>
                <% } %>
                <br>
                <a href='/about'>사이트소개</a>
                <a href='/help'>도움말</a>
            </div>

            <div class="sub-section news">
                <% for(const banner of app.bannerList) { %>
                    <a href="<%- banner.url %>" target="_blank"><%= banner.text %></a><br>
                <% } %>
            </div>
        </div>
    <% } %>

    <div class="section image-thumb-list">
        <% for (const image of app.imageList) { %>
            <div class="image-thumb thumb-margin">
                <div class="image">
                    <a href="/image/<%- image.id %>">
                        <img src="<%- image.thumbUrl %>" data-vers="<%- image.vers ? image.vers.join(',') : null %>">
                    </a>
                    <% let c = image.comment.split(/\r\n|\n/, 1)[0] %>
                    <% if (c) { %>
                        <span class="comment"><%= c %></span>
                    <% } %>
                </div>
                <div class="uname">
                    <a href='/user/<%- encodeURIComponent(image.owner.home) %>'><%= image.owner.name %></a>
                </div>
            </div>
        <% } %>
        <div class="image-thumb prev-next"></div>
    </div>

    <div class="section">
        <div class="prev-next thumb-margin">
            <% if (app.prev) { %>
                <a href="<%- app.prev %>"><span class="fa fa-angle-left" aria-hidden='true'></span></a>
            <% } %>
            <% if (app.next) { %>
                <a href="<%- app.next %>"><span class="fa fa-angle-right" aria-hidden='true'></span></a>
            <% } %>
        </div>
    </div>

    <div class="section top-links">
        <a href='https://raysoda.com'>RaySoda</a>
        <a href='https://rapixel.com'>Rapixel</a>
        <a href='https://osoky.com'>Osoky</a>
    </div>

    <%- include('../_layout/footer') %>

    <script>
      $(function () {
        cimage.initList()
      })
    </script>

</body>
</html>

