extends ../layout/layout

block head-opt
  meta(property='og:image', content=images.length ? images[0].thumb : '')
  title #{tuser.name} - #{appName}

block content
  script.
    $(function () {
      cuser.initProfile();
      cimage.initList();
    });

  .section.page-title
    h1
      //- user.home 에 '/' 문자 있는 경우도 있으므로 미리 URI 인코딩한다.
      a(href='/' + encodeURIComponent(tuser.home)) #{tuser.name}

  if !gt
    .section
      #profile-text.sub-section
        | #{tuser.profile}

      if updatable
        .sub-section.top-links
          a(href='/users/' + tuser.id + '/update') 개인정보수정

      if tuser.status == 'd'
        .sub-section
          | Deactivated Account

  if images.length

    .section.image-thumb-list
      for image in images
        .image-thumb
          .image
            a(href='/images/' + image.id)
              img(src=image.thumb, data-vers= image.vers ? image.vers.join(','): null)
          if image.comment
            .comment= image.comment
    .section
      .prev-next.thumb-margin
        if prev
          a(href=prev)
            i.fa.fa-angle-left(aria-hidden='true')
        if next
          a(href=next)
            i.fa.fa-angle-right(aria-hidden='true')
