<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= locals.config.appDesc %>">
<meta property="og:site_name" content="<%= locals.config.appName %>">
<% if (locals.ogImage) { %>
    <meta property="og:image" content="<%- locals.ogImage %>">
<% } %>
<% if (locals.ogTitle) { %>
    <meta property="og:title" content="<%= locals.ogTitle %>">
<% } %>
<% if (locals.ogDesc) { %>
    <meta property="og:description" content="<%= locals.ogDesc %>">
<% } %>

<title><%= (locals.title ? locals.title + ' - ' : '') + locals.config.appName %></title>
<link rel="icon" type="image/png" href="/static/favicon/<%- locals.config.appNamel %>.png?v=1.0.1">
<link rel="stylesheet" href="/build/sass/default.css?v=1.0.3">
<link rel="stylesheet" href="/build/sass/<%- locals.config.appNamel %>.css?v=1.0.3">
