extends ../layout/layout

block head-opt
  meta(property='og:image', content=image.thumb)
  meta(property='og:title' content=image.user.name)
  meta(property='og:description' content=image.comment)
  title Image !{image.id} - #{appName}

block header

block content

  script.
    $(function() {
      cimage.initView(!{JSON.stringify(image)});
    });

  .section.image-full
    .image
      img(src=image.thumb, data-vers= image.vers ? image.vers.join(','): null)

  .section.image-info
    .sub-section(style='display: none')
      a#fs(href='')
        span.glyphicon.glyphicon-fullscreen

    .sub-section
      .comment #{image.comment}
      .cdate !{image.cdateStr.slice(0,16)}
      .uname
        a(href='/' + encodeURIComponent(image.user.home)) #{image.user.name}

    if updatable
      .sub-section
        .commands
          button#update-btn.btn.btn-success.btn-xs Update
          button#del-btn.btn.btn-danger.btn-xs Delete
          button#del-confirm-btn.btn.btn-danger.btn-xs.hide Yes, Delete
