<%@ Page inherits="WebSite.Page" Language="c#" AutoEventWireup="false" %>

<html>
<%=LPContext.ClientInitScript%>

<body>
<script>lpRenderBegin()</script>
<div class=fm>
<script>lpRenderTitle("레이소다")</script>

다른 분들의 감상에 방해가 되지 않도록 정숙한 관람을 부탁 드립니다.
표현이 본인의 취향과 다르다고 하여 다른 사람의 작품을 함부로 다루는 행위는 삼가 주십시오.
청소년에게 부적절한 일부 작품이 전시되고 있으므로 보호자의 감상지도가 필요합니다.
전시 시설에 무리한 힘을 가하여 고장나는 일이 없도록 해주십시오.
전시와 감상은 무료입니다.
달동네, 레이소다.

<div class=text>
레이소다는 온라인 전시 공간입니다.<br>
</div>

<div class=section-title>갤러리 공</div>
<div class=text>
갤러리 공은 모든 회원이 함께 사용하는 전시 공간입니다.<br>
작품은 한번에 한장씩 전시하실 수 있으며 제한된 기간이 지난 후 추가로 전시하실 수 있습니다.<br>
갤러리 공에 전시된 작품 중 회원들의 추천수가 높은 작품은 일면에 전시됩니다.<br>
</div>

<div class=section-title>갤러리 아</div>
<div class=text>
가입하시는 모든 회원께는 개인 공간을 드립니다.<br>
개인 공간 중 갤러리 아는 개인만의 독립된 전시공간입니다.<br>
필명을 클릭하시면 작가의 개인 공간과 갤러리 아를 방문하실 수 있습니다.<br>
</div>

<div class=section-title>회원의 이점</div>
<div class=text>
가입하시는 모든 회원께는 개인 공간을 드립니다.<br>
개인 공간은 회원님들의 레이소다 정착을 돕는 특별한 터전입니다.<br>
갤러리 아에는 자유롭게 본인의 작품을 전시하실 수 있습니다.<br>
즐겨찾기를 통해 관심있는 작가의 최근 작품을 편리하게 모아 보실 수 있습니다.<br>
글 란을 통해 방명록을 꾸미실 수 있습니다.<br>
매페이지 상단의 본인 필명을 클릭하시면 개인 공간을 열어 보실 수 있습니다.<br>
</div>

<div class=section-title>그밖에</div>
<div class=text>
그밖에 궁금하신 점은 페이지 상단 도움말 메뉴를 이용해 주십시오.<br>
자주 질문되는 내용에 대한 답과 운영자 연락처가 있습니다.<br>
</div>

<div class=section-title></div>
<div class=text>
</div>

<script>lpRenderEnd()</script>
</body>
</html>
