<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = locals.owner.name %>
    <% locals.ogImage = locals.imageList.length ? locals.imageList[0].thumbUrl : '' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1 class="default-color-des">
            <a href="/user/<%- encodeURIComponent(locals.owner.home) %>">
                <%= locals.owner.name %>
            </a>
        </h1>

        <% if (!locals.prev) { %>
            <div class="space-y-2xl">
                <div id="profile" class="ws-pre-line"><%= locals.owner.profile %></div>
                <% if (locals.updatable) { %>
                    <div>
                        <a href='/user-update-profile/<%= locals.owner.id %>'>이름 수정</a><br>
                        <a href='/user-update-password/<%= locals.owner.id %>'>비밀번호 수정</a><br>
                        <% if (locals.user.admin) { %>
                            <a href='/user-update-status/<%= locals.owner.id %>'>상태 수정</a><br>
                        <% } %>
                    </div>
                <% } %>
                <% if (locals.owner.status === 'd') { %>
                    <div>이 계정은 사용 중지되었습니다.</div>
                <% } %>
            </div>
        <% } %>
    </div>

    <% if (locals.imageList.length) { %>
        <div class="max-w-full text-center default-color-des">
            <% for (const image of locals.imageList) { %>
                <div class="mt-5xl">
                    <%# 이미지 우상단에 FullScreen 아이콘을 넣기 위해 inline-block 을 한다. %>
                    <%# inline-block 을 하면 div 크기가 내부 이미지 크기와 같아진다. %>
                    <div class="inline-block relative">
                        <a href="/image/<%- image.id %>">
                            <img class="block max-w-full max-h-screen img-thumb"
                                 src="<%- image.thumbUrl %>"
                                 data-vers="<%- image.vers ? image.vers.join(',') : null %>">
                        </a>
                        <div class="fs-icon"></div>
                        <div class="mt-3">
                            <% let c = image.comment.split(/\r\n|\n/, 1)[0] %>
                            <% if (c) { %>
                                <div class="comment"><%= c %></div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <%- include('../_common/prev-next') %>
    <% } %>

    <%- include('../_common/footer') %>
    <script>
        page.initUserHome()
        page.initImageList()
    </script>
</body>
</html>
