<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Years' %>
    <%- include('../common/head') %>
</head>
<body>
    <%- include('../common/header') %>

    <div class="wrapper">
        <h1>연도별</h1>

        <% const today = new Date() %>
        <% let sy = today.getFullYear() %>
        <% let ey = locals.firstCdate.getFullYear() %>
        <% let iy = sy %>

        <% while (iy >= ey) { %>
            <h4 class="mt-2xl"><%- iy %></h4>
            <div class="mt-3 flex content-center space-x-2">
                <% let sm = iy === sy ? today.getMonth() : 11 %>
                <% let em = iy === ey ? locals.firstCdate.getMonth() : 0 %>
                <% let im = sm %>
                <% while (im >= em) { %>
                    <% let dm = im + 1 %>
                    <% let link = '/image-list?d=' + iy + '-' + (dm < 10 ? '0' : '') + (dm) + '-01' %>
                    <a href="<%- link %>"><%- dm %></a>
                    <% im-- %>
                <% } %>
                <% iy-- %>
            </div>
        <% } %>
    </div>

    <%- include('../common/footer') %>
</body>
</html>
