<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Update Image' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1>사진 수정</h1>
        <form id="form" class="max-w-sm">
            <input type="hidden" name="id">
            <label>
                <% if (locals.config.appNamel === 'drypot') { %>
                    <span>SVG 파일</span>
                    <input type="file" name="file" accept='image/svg+xml, .svg'>
                <% } else { %>
                    <span>사진 파일</span>
                    <input type="file" name="file" accept='image/jpeg, image/png, image/tiff'>
                <% } %>
            </label>
            <label>
                <span>사진 설명</span>
                <textarea name="comment" rows="3"></textarea>
            </label>
            <div class="error-group"></div>
            <div class="btn-group">
                <button class="btn-blue" name="send">등록</button>
            </div>
        </form>
        <%- include('image-upload-notice') %>
    </div>

    <%- include('../_common/footer') %>
    <script type="application/json" id="formJson">
        <%= JSON.stringify(locals.form) %>
    </script>
    <script>
        page.initImageUpdate()
    </script>
</body>
</html>
