<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Image ' + locals.image.id %>
    <% locals.ogImage = locals.image.thumbUrl %>
    <% locals.ogTitle = locals.image.owner.name %>
    <% locals.ogDesc = locals.image.comment %>
    <%- include('../common/head') %>
</head>
<body>
    <% locals.hideHeader = true %>
    <%- include('../common/header') %>

    <div class="max-w-full text-center">
        <div class="inline-block relative">
            <img id="image" class="block max-w-full cursor-pointer img-full"
                 src="<%- locals.image.thumbUrl %>"
                 data-vers="<%- locals.image.vers ? locals.image.vers.join(',') : null %>">
            <div class="fs-icon"></div>
        </div>
    </div>

    <div class="wrapper">
        <div id="comment" class="mt-2xl ws-pre-line"><%= locals.image.comment %></div>
        <div class="mt-2xl default-color-des">
            <a href='/user/<%- encodeURIComponent(locals.image.owner.home) %>'><%= locals.image.owner.name %></a>
        </div>
        <div class="mt-xs fs-xs">
            <%- locals.image.cdateStr.slice(0, 16) %>
        </div>

        <% if (locals.image.updatable) { %>
            <div class="mt-2xl space-x-1">
                <button id="update-btn" class="">수정</button>
                <button id="delete-btn" class="btn-red">삭제</button>
            </div>
        <% } %>
    </div>

    <%- include('../common/footer') %>
    <script type="application/json" id="imageJson">
      <%= JSON.stringify(locals.image) %>
    </script>
    <script>
        page.initImageDetail()
    </script>
</body>
</html>
