<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = app.config.appName %>
    <% app.ogImage = app.imageList.length ? app.imageList[0].thumbUrl : '' %>
    <%- include('../_common/head') %>
</head>
<body>
    <% app.hideHeader = true %>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1 class="link-no-deco"><a href="/"><%- app.config.appName %></a></h1>

        <% if (!app.prev) { %>

            <!-- Home Menu -->
            <div class="flex flex-center space-x-2 fs-lg nowrap">
                <% if (app.user.id !== -1) { %>
                    <a href='/upload-image'>사진등록</a>
                    <a href='/user/<%- encodeURIComponent(app.user.home) %>'>사용자홈</a>
                <% } else { %>
                    <a href='/user-login'>로그인</a>
                    <a href='/user-register'>회원가입</a>
                <% } %>
                <a href='/user-list'>회원목록</a>
                <a href='/image-list-by-year'>연도별사진</a>
                <% if (app.user.id !== -1) { %>
                    <a href='/user-logout'>로그아웃</a>
                <% } %>
            </div>
            <div class="mt-2 flex flex-center space-x-2 fs-lg nowrap">
                <a href='/about'>사이트소개</a>
                <a href='/help'>도움말</a>
            </div>

            <!-- Banner List -->
            <% if (app.bannerList.length) { %>
                <div class="mt-lg flex flex-col">
                    <% for(const banner of app.bannerList) { %>
                        <a href="<%- banner.url %>" target="_blank"><%= banner.text %></a>
                    <% } %>
                </div>
            <% } %>

        <% } %>
    </div>

    <div class="max-w-full text-center link-no-deco fs-lg">
        <% for (const image of app.imageList) { %>
            <div class="mt-4xl">
                <%# 이미지 우상단에 FullScreen 아이콘을 넣기 위해 inline-block 을 한다. %>
                <%# inline-block 을 하면 div 크기가 내부 이미지 크기와 같아진다. %>
                <div class="inline-block relative image-card">
                    <a href="/image/<%- image.id %>">
                        <img class="max-w-full max-h-screen"
                             src="<%- image.thumbUrl %>"
                             data-vers="<%- image.vers ? image.vers.join(',') : null %>">
                    </a>
                    <% let c = image.comment.split(/\r\n|\n/, 1)[0] %>
                    <% if (c) { %>
                        <div class="mt-3 comment"><%= c %></div>
                    <% } %>
                    <div class="mt-3">
                        <a href='/user/<%- encodeURIComponent(image.owner.home) %>'><%= image.owner.name %></a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <%- include('../_common/prev-next') %>

    <div class="mt-4xl flex flex-center space-x-4 fs-lg">
        <a href='https://raysoda.com'>RaySoda</a>
        <a href='https://rapixel.com'>Rapixel</a>
        <a href='https://osoky.com'>Osoky</a>
    </div>

    <%- include('../_common/footer') %>
    <script>
        app.initImageList()
    </script>
</body>
</html>

