<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Image ' + app.image.id %>
    <% app.ogImage = app.image.thumbUrl %>
    <% app.ogTitle = app.image.owner.name %>
    <% app.ogDesc = app.image.comment %>
    <%- include('../_common/head') %>
</head>
<body>
    <% app.hideHeader = true %>
    <%- include('../_common/header') %>

    <div class="flex flex-col items-center">
        <div class="max-w-full inline-block relative">
            <img id="image" class="max-w-full cursor-pointer"
                 src="<%- app.image.thumbUrl %>"
                 data-vers="<%- app.image.vers ? app.image.vers.join(',') : null %>">
        </div>
    </div>

    <div class="mt-xl wrapper">
        <div class="sub-section" style="display: none">
            <a href="" id="fs"><span class="glyphicon glyphicon-fullscreen"></span></a>
        </div>

        <% if (app.image.comment) { %>
            <p class="whitespace-pre-line">
                <%= app.image.comment %>
            </p>
        <% } %>
        <p class="text-xl link-no-deco">
            <a href='/user/<%- encodeURIComponent(app.image.owner.home) %>'><%= app.image.owner.name %></a>
        </p>
        <p class="mt-xl">
            <%- app.image.cdateStr.slice(0, 16) %>
        </p>

        <% if (app.image.updatable) { %>
            <div class="mt-xl space-x-3">
                <button id="btn-update" class="btn btn-hover-green text-sm">수정</button>
                <button id="btn-del" class="btn btn-hover-red text-sm">삭제</button>
            </div>
        <% } %>
    </div>

    <%- include('../_common/footer') %>
    <script type="application/json" id="imageJson">
      <%= JSON.stringify(app.image) %>
    </script>
    <script>
        // $(function () {
        //     cimage.initView(getObjectById('imageJson'))
        // })
    </script>
</body>
</html>
