<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = locals.config.appName %>
    <% locals.ogImage = locals.imageList.length ? locals.imageList[0].thumbUrl : '' %>
    <%- include('../_common/head') %>
</head>
<body>
    <% locals.hideHeader = true %>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1 class="default-color-all"><a href="/"><%- locals.config.appName %></a></h1>

        <% if (!locals.prev) { %>

            <!-- Banner List -->
            <% if (locals.bannerList.length) { %>
                <div class="flex flex-col">
                    <% for(const banner of locals.bannerList) { %>
                        <a href="<%- banner.url %>" target="_blank"><%= banner.text %></a>
                    <% } %>
                </div>
            <% } %>

            <!-- Home Menu -->
            <div class="mt-3xl space-x-var-2 ws-nowrap-child">
                <% if (locals.user.id !== -1) { %>
                    <a href='/image-upload'>사진 등록</a>
                    <a href='/user/<%- encodeURIComponent(locals.user.home) %>'>사용자 홈</a>
                <% } else { %>
                    <a href='/user-login'>로그인</a>
                    <a href='/user-register'>회원 가입</a>
                <% } %>
                <a href='/user-list'>회원 목록</a>
                <a href='/image-list-by-year'>연도별 사진</a>
            </div>
            <div class="mt-2 space-x-var-2 ws-nowrap-child">
                <a href='/about'>사이트 소개</a>
                <a href='/help'>도움말</a>
                <% if (locals.user.id !== -1) { %>
                    <a href='/user-logout'>로그아웃</a>
                <% } %>
            </div>

        <% } %>
    </div>

    <div class="max-w-full text-center default-color-all fs-lg">
        <% for (const image of locals.imageList) { %>
            <div class="mt-4xl">
                <%# 이미지 우상단에 FullScreen 아이콘을 넣기 위해 inline-block 을 한다. %>
                <%# inline-block 을 하면 div 크기가 내부 이미지 크기와 같아진다. %>
                <div class="inline-block relative image-card">
                    <a href="/image/<%- image.id %>">
                        <img class="max-w-full max-h-screen"
                             src="<%- image.thumbUrl %>"
                             data-vers="<%- image.vers ? image.vers.join(',') : null %>">
                    </a>
                    <% let c = image.comment.split(/\r\n|\n/, 1)[0] %>
                    <% if (c) { %>
                        <div class="mt-3 comment"><%= c %></div>
                    <% } %>
                    <div class="mt-3">
                        <a href='/user/<%- encodeURIComponent(image.owner.home) %>'><%= image.owner.name %></a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <%- include('../_common/prev-next') %>

    <div class="mt-4xl wrapper space-x-4 fs-lg">
        <a href='https://raysoda.com'>RaySoda</a>
        <a href='https://rapixel.com'>Rapixel</a>
        <a href='https://osoky.com'>Osoky</a>
    </div>

    <%- include('../_common/footer') %>
    <script>
        page.initImageList()
    </script>
</body>
</html>

