<%@ Register TagPrefix="bah" NameSpace="Bah.Web.Controls" Assembly="Bah"%>
<%@ Register tagprefix="app" tagname="PageList" src="/Com/PageList/DefPageList.ascx"%>
<%@ Page language="c#" Codebehind="FList.aspx.cs" AutoEventWireup="false" Inherits="WebSite.Com.BoxPhoto.FList" %>

<HTML>
<%=LPContext.ClientInitScript%>
<link rel='stylesheet' href='/App/Style/Photo.css'>
<script src='/App/LP/Photo.js'></script>

<body>
<form runat="server" ID="Form">
<script>lpRenderBegin('F')</script>
<script>lpRenderTitle("")</script>

<%--
<div class=fm-f style="margin: 0 0 0 0;">
<img src=/d.gif>
<div class=sort-key>
<asp:RadioButtonList Runat=server ID="SortList" RepeatDirection=Horizontal RepeatLayout=Flow AutoPostBack="True">
<asp:ListItem Value="VD">사진가권장순</asp:ListItem>
<asp:ListItem Value="UD">갱신일순</asp:ListItem>
</asp:RadioButtonList>
</div>
</div>
--%>

<div class=fm-f style="margin-bottom:40px;">
<div id="PageListDupe"></div>
</div>

<%=FolderListScript%>

<%--
<asp:textbox id="SearchTB" runat="server" CssClass="search-tb" Columns="24" MaxLength="64" Visible=False></asp:textbox>&nbsp;&nbsp;
<asp:linkbutton id="SearchLink" runat="server" Text="[검색]" enableViewState="False" Visible=False></asp:linkbutton>
--%>
<div class=fm-f>
<div style="margin-top:15; margin-bottom:30px;">
<app:PageList runat="server" id="PageList" EnableViewState="false" CheckAuthenticated="false"></app:PageList>
</div>

<div>
<a runat=server id="FNewLink" href="" visible=false class="cmd">[폴더추가]</a>
</div>
</div>

<script>lpRenderEnd()</script>
</form>
</body>
</HTML>
