<%@ Page language="c#" AutoEventWireup="false" Inherits="WebSite.Com.BoxPhoto.PView" CodeBehind="PView.aspx.cs" %>
<%@ Register TagPrefix="bah" NameSpace="Bah.Web.Controls" Assembly="Bah"%>

<HTML>
<head>
<%=LPContext.ClientInitScript%>
<link rel='stylesheet' href='/App/Style/Photo.css'>
<script src='/App/LP/Photo.js'></script>
</head>

<body>
<form runat="server" ID="Form">

<%=rvRefPhotoScript%>

<script>lpRenderBegin('F')</script>

<div Runat=server ID=ViewPanel>

<table border=0 cellpadding=0 cellspacing=0 class=fm-f>
<tr><td><img src=/d.gif width=131 height=1></td><td><img src=/d.gif width=820 height=1></td></tr>

<tr>
<td class=c1></td>
<td class=c2>

<script>
bpPIL("<%=rvPrevUrl%>","<%=rvNextUrl%>","<%=rvFolderListUrl%>","<%=rvPhotoListUrl%>","<%=rvEditUrl%>")
<%=rvFolderListScript%>
bpPI("<%=rvTitle%>",<%=rvHit%>,"<%=rvCDate%>","<%=rvComment%>","<%=rvMusic%>")
</script>

</td>
</tr>

<tr>
<td class=c1><%--<div class=title>남기시는 말씀</div>--%></td>
<td class=c2>

<%=rvCommentScript%>

<table cellpadding=0 cellspacing=0 class=form style="margin-top:20px">
<tr><td>
<asp:ValidationSummary Runat="server" ID="VdSummary" DisplayMode="List" ShowSummary="true" ShowMessageBox="false"  CssClass="vdsummary"/>

<div runat=server id=GuestNamePanel>
<asp:TextBox id="GuestNameTB" CssClass="tb" MaxLength="16" Columns="16" RunAt="Server"></asp:TextBox>
<asp:RequiredFieldValidator id="GuestNameVd" Runat="server" Display="Dynamic" ErrorMessage="이름은 필수항목입니다." Text="*" ControlToValidate="GuestNameTB"></asp:RequiredFieldValidator>
<asp:RegularExpressionValidator runat="server" id="GuestNameREVd" ControlToValidate="GuestNameTB" ValidationExpression="[^<>&\x22\x27\\]+" Text="*" ErrorMessage="이름에는 특수문자를 사용하실 수 없습니다." display="Dynamic" />
<asp:TextBox RunAt="server" id="GuestPasswordTB" Runat="Server" TextMode="Password" Columns="16" MaxLength="16" CssClass="tb"/>
<asp:RequiredFieldValidator Runat="server" ControlToValidate="GuestPasswordTB" Text="*" ErrorMessage="비밀번호는 필수항목입니다." Display="Dynamic" ID="GuestPasswordReqVd" />
<br>
</div>

<asp:RequiredFieldValidator Runat="server" ID="CommentTBVd" ControlToValidate="CommentTB" ErrorMessage="내용을 적어 주십시오." Display="None"/>
<asp:TextBox Runat="server" ID="CommentTB" TextMode="MultiLine" Rows="5"></asp:TextBox>
</td></tr>
<tr><td><asp:Button Runat="server" ID="Submit" Text="말씀 남김" CssClass="btn"></asp:Button></td></tr>
</table>

</td>
</tr>

</table>
</div>

<div Runat=server ID=MsgNotExists CssClass="fm-sys-msg" Visible=False EnableViewState="false">
요청하신 사진이 삭제되었습니다.
</div>

<script>lpRenderEnd()</script>
</form>
</body>
</html>
