<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Help' %>
    <%- include('../_layout/head') %>
</head>
<body>
    <%- include('../_layout/header') %>
    <h1 class="column">도움말</h1>
    <p class="column mt-big">
        궁금하신 점은 이메일로 문의 부탁드립니다.
    </p>
    <p class="column">
        페이스북 :&nbsp;
        <a href='https://www.facebook.com/raysoda.news' target='_blank'>
            https://www.facebook.com/raysoda.news
        </a>
        <br>
        이메일 :&nbsp;
        <% let email = 'support+' + app.config.appNamel + '@raysoda.com' %>
        <% let emailLink = 'mailto:' + email %>
        <a href="<%- emailLink %>"><%- email %></a>
    </p>
    <p class="column">
        회원탈퇴를 원하실 경우 : &nbsp;
        <a href="/user-deactivate"> 계정사용중지신청</a>
    </p>
    <%- include('../_layout/footer') %>
</body>
</html>

